#footer-bottom {
    background-color: #fff;
    padding : 3px;
}

#footer-copyrights {
 
    display: flex;
   width : 100%;
   justify-content: space-between;
   padding : 3px;
 
  
}

#footer-menu {
    float: left;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

#footer-menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#footer-menu ul li {
    display: inline-block;
}

#footer-menu a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0 10px;
    text-decoration: none;
}

#footer-menu a:hover {
    color: #34c6d3;
}
