.sidebar {

    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px 25px #999;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);


}

.iconBullet {
    color : #43e97b;
}